@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #4640DE;
  --color-navy: #202430;
  --color-gray-body: #515B6F;
  --color-gray-sub: #7C8493;
  --color-bg-light: #F8F8FD;
  --color-border: #D6DDEB;
  --font-family-sans: 'Epilogue', sans-serif;
}



body {
  font-family: var(--font-family-sans);
  color: #202430;
  background: #fff;
}